<div class="dashboard">
    <div class="head-bar">
        <div class="px-5 py-3">
            <span class="px-3 text-white">Aumigos Gerenciamento</span>
        </div>
    </div>
    <div class="pb-5">
        <div class="container">
            @if(loading){
            <div class="d-flex justify-content-center m-5">
                <div class="spinner-border m-5" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            }@else {
                <div class="justify-content-end d-flex py-4">
                    <div class="px-3" style="cursor: pointer;">
                        <img src="assets/icones_imagens/plus.svg" (click)="openFormModal(0)">
                    </div>
                </div>
                <div class="input-wrapper">
                    <i class="fa-solid fa-magnifying-glass" style="color: #756F6F;"></i>
                    <input class="form-control" [formControl]="searchControl" type="text" name="" id="" placeholder="Pesquisar">
                </div>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>NOME</th>
                            <th>EMAIL</th>
                            <th>FUNÇÃO</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (user of users; track $index) {
                            <tr>
                                <td (click)="openDeleteModal(user.id)"><i class="fa-regular fa-trash-can delete-user" style="color: #A2128F;"></i></td>
                                <td (click)="openFormModal(user.id)">{{user.firstName}} {{user.lastName}}</td>
                                <td (click)="openFormModal(user.id)">{{user.email}}</td>
                                <td (click)="openFormModal(user.id)">{{getUserenum(user.role)}}</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>