<div class="schedule-area py-xxl-5">
    <div class="container-fluid">
        <div class="row text-center" style="padding-top: 30px;">
            <div class="col-md-6 schedule-text align-content-center">
                <div class="text-start">
                    <p class="schedule-title">O melhor cuidado para seu melhor amigo</p>
                    <span class="schedule-sub">Com amor e segurança, garantimos a higiene perfeita para seu pet.</span>
                    <br>
                    <a href="" class="btn btn-primary">
                        <span class="btn-text">Agendar agora</span>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="background-image">
                    <img class="informative-image" src="assets/icones_imagens/Washing-dog.png">
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="informative-area text-center">
    <div class="container-fluid">
        <p class="informative-title">Cuidado premium para o seu amigo de quatro patas</p>
        <div class="row py-5">
            <div class="col-md-6" style="margin: auto;">
                <img class="informative-image" src="assets/icones_imagens/hello-dog.png">
            </div>
            <div class="col-md-6 align-content-center" style="margin: auto;">
                <div class="row">
                    <div class="col-md-6 informative-card">
                        <img src="assets/icones_imagens/foot-purple.svg" alt="">
                        <p>Corte de unha e limpeza de orelhas</p>
                    </div>
                    <div class="col-md-6 informative-card">
                        <img src="assets/icones_imagens/seryng-purple.svg" alt="">
                        <p>Escovação de dentes</p>
                    </div>
                    <div class="col-md-6 informative-card">
                        <img src="assets/icones_imagens/house-family-purple.svg" alt="">
                        <p>Remoção de subpelo e nós</p>
                    </div>
                    <div class="col-md-6 informative-card">
                        <img src="assets/icones_imagens/heart-purple.svg" alt="">
                        <p>Perfume e adereços</p>
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<div class="intructions-area text-center">
    <div class="container-fluid">
        <p class="instuction-title">Agende agora em poucos cliques!</p>
        <div class="row justify-content-center py-5">
            <div class="col-md-6 instuction-card">
                <div class="outer-badge">
                    <div class="badge">1</div>
                </div>
                <img src="assets/icones_imagens/calendar-purple.svg">
                <p class="instruct-subtitle">Agende um horário</p>
                <span class="instruct-text">Marque pelo site, telefone (27) 99999-9999 ou em loja física.</span>
            </div>
            <div class="col-md-6 instuction-card">
                <div class="outer-badge align-content-center">
                    <div class="badge">2</div>
                </div>
                <img src="assets/icones_imagens/local-purple.svg">
                <p class="instruct-subtitle">Vá até a loja</p>
                <span class="instruct-text">Estaremos esperando por vocês no dia e horário agendados.</span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6 instuction-card">
                <div class="outer-badge">
                    <div class="badge">3</div>
                </div>
                <img src="assets/icones_imagens/glass-purple.svg">
                <p class="instruct-subtitle">Faça o check-in</p>
                <span class="instruct-text">Ao chegar, confirmamos as necessidades do pet antes de começar o
                    atendimento.</span>
            </div>
            <div class="col-md-6 instuction-card">
                <div class="outer-badge">
                    <div class="badge">4</div>
                </div>
                <img src="assets/icones_imagens/check-purple.svg">
                <p class="instruct-subtitle">Faça o check-in</p>
                <span class="instruct-text">Ao chegar, confirmamos as necessidades do pet antes de começar o
                    atendimento.</span>
            </div>
        </div>
        <div class="py-5" style="background-color: #720C68;">
            <a href="" class="btn btn-primary instruct-btn">
                <span>Agendar agora</span>
            </a>
        </div>
    </div>
</div>
<app-doubts></app-doubts>