.schedule-text{
    padding-left: 8rem !important;
    padding-right: 8rem !important;
}
.schedule-title{
    color: #720C68;
    font-family: 'Ultra';
    font-size: 28pt;
    text-align: left !important;
}
.schedule-sub{
    color: #A02E95;
    font-size: 18pt;
}
.btn-text{
    font-size: 15pt;
    padding: 0.5rem 0.5rem;
    max-width: 0.9375rem;
    font-weight: bold;
}
.btn-primary{
    padding: 0.9375rem;
}
.intructions-area{
    background-color: #720C68;
}
.instuction-title{
    font-family:  'Ultra';
    color: white;
    font-size: 40pt;
}
.instuction-card{
    background-color: white;
    border-radius: 0.625rem;
    max-width: 23.875rem;
    height: 20.25rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding:  0 3rem;
}
.instuction-card img{
    margin-top: -30px;
}
.instct-subtitle{
    font-family: 'Poppins', Bold;
    font-weight: bold;
    font-size: 20pt;
}
.instruct-btn{
    font-family: 'Ultra';
    font-size: 20pt;
    border-color: white !important;
    box-shadow: -8px 8px 0 0 #DD81CE ;
}
.badge {
    background: #DD81CE;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ultra';
    color: #720C68;
    font-size: 28px;
    font-weight: bold;
}
.outer-badge{
    position: relative;
    top: -1.25rem;
    left: -1.25rem;
    background: white;
    width: 4.375rem;
    height: 4.375rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}
.informative-area{
    background-color: white;
    padding-top: 5rem;
    padding-bottom: 6rem;
}
.informative-title{
    font-family: 'Ultra';
    font-size: 28pt;
    color: #720C68;
}
.background-image {
    background-color: #720C68;
    border-radius: 20px;
    width: 31.75rem;
    height: 21.56rem;
    transform: rotate(3deg);
}
.informative-image {
    position: relative;
    top: 0.625rem;    
    left: 0.093rem;
    transform: rotate(-3deg);
}
.informative-card{
    width: 26.25rem;
    height: 7.5rem;
    background-color: #F3EEE8;
    align-content: center;
    margin: 2rem 2rem;
    border-radius: 10px;
    padding-top: 0.625rem;
}
.informative-card p {
    color: #890A78;
    margin-top: 0.75rem;
    font-weight: medium;
}