<div>
    <div class="row text-center" style="padding-top: 30px;">
        <div class="col-md-6 schedule-text align-content-center">
            <div class="text-start">
                <p class="schedule-title">Garanta o bem-estar e a saúde do seu pet sempre em dia</p>
                <span class="schedule-sub">Vacinas de qualidade para proteger a saúde do seu pet.</span>
                <br>
                <a href="" class="btn btn-primary">
                    <span class="btn-text">Agendar agora</span>
                </a>    
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/icones_imagens/cachorro_e_gato-removebg-preview 1.png" alt="Imagem cachorro e gato">
        </div>
    </div>
</div>
