.header {
    padding: 20px 60px;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    background-color: white;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.login-link{
    text-decoration:  none;   
    color: #720C68;
}
.icon-footer{
    @media (max-width: 900px) {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 150px;
        height: 150px;
    }
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    border: none;
}