<div class="head-bar">
    <div class="px-5 py-3">
        <span class="sidebar-btn">
            <i class="fa-solid fa-gears fa-lg" style="color:  white;"></i>
        </span>
        <span class="px-3 text-white">Configurações</span>
    </div>
</div>
<div class="container">
    <div class="row justify-content-between">
        <div class="row config-card mt-5">
            <span class="card-tag"></span>
            <div class="d-grid">
                <i class="fa-solid fa-lock fa-2xl icon" style="color: #760D6C;"></i>
                <span class="title">Alterar Senha</span>
                <button class="btn btn-primary">Alterar</button>
            </div>
        </div>
        <div class="row config-card mt-5">
            <span class="card-tag"></span>
            <div class="d-grid">
                <i class="fa-solid fa-lock fa-2xl icon" style="color: #760D6C;"></i>
                <span class="title">Alterar Senha</span>
                <button class="btn btn-primary">Alterar</button>
            </div>
        </div>
        <div class="row config-card mt-5">
            <span class="card-tag"></span>
            <div class="d-grid">
                <i class="fa-solid fa-lock fa-2xl icon" style="color: #760D6C;"></i>
                <span class="title">Alterar Senha</span>
                <button class="btn btn-primary">Alterar</button>
            </div>
        </div>
    </div>
</div>