.header-decoration{
    height: 6.25rem;
    background-color: #720C68;
    display: flex;
    justify-content: center; 
    align-items: center; 
    
    @media (max-width: 768px) {
        .container {
            flex-direction: column;
            gap: 10px; 
        }
    }
}
.header-link{
    color: white;
    text-decoration: none;
    font-family: 'Poppins';

    @media (max-width: 768px) {
        display: flex;
        align-items: center; 
        justify-content: center;
    }
} 
