<div class="header-home">
    <div class="row text-center header-decotarion align-content-center">
        <div class="col-md-6">
            <a routerLink="vacine" class="header-link">
                <img src="assets/icones_imagens/vacine-icon.svg" alt="">
                <span>Agendamento de Vacina</span>
            </a>
        </div>
        <div class="col-md-6">
            <a routerLink="pet" class="header-link">
                <img src="assets/icones_imagens/bath-icon.svg" alt="">
                <span class="px-2">Agendamento de Banho e Tosa</span>
            </a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>