<div class="header-home">
    <div class="text-center header-decoration align-content-center">
        <div class="row container">
            <div class="col-md-6">
                <a routerLink="vacine" class="activatable header-link active" (click)="toggleActive($event)">
                    <img src="assets/icones_imagens/vacine-icon.svg" alt="">
                    <span class="px-2">Agendamento de Vacina</span>
                </a>
            </div>
            <div class="col-md-6">
                <a routerLink="pet" class="activatable header-link" (click)="toggleActive($event)">
                    <img src="assets/icones_imagens/bath-icon.svg" alt="">
                    <span class="px-2">Agendamento de Banho e Tosa</span>
                </a>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<footer class="contact-area text-center py-5" style="z-index: 10;">
    <div class="container">
        <div class="row text-light">
            <div class="col md-4 contact-box">
                <img class="icon-footer" src="assets\icones_imagens\aumigos_icon_Footer.svg" alt="" />
            </div>
            <div class="col md-4 contact-box ">
                <h3 class="main-text">Contato</h3>
                @if(companie){
                <p class="contact-text">{{ companie.phoneNumber }}</p>
                <p class="contact-text">{{ companie.contactEmail }}</p>
                <br />
                <p class="contact-text">{{companie.address.street}} - {{companie.address.neighborhood}} -
                    {{companie.address.city}}</p>
                <p class="contact-text">{{companie.address.state}} - {{companie.address.zipCode}}</p>
                }@else {
                <p class="contact-text">Informações da empresa não informadas</p>
                }
                <br />
                <a href="#" class=""><i class="fa-brands fa-instagram fa-xl" style="color: #fff"></i></a>
            </div>
            <div class="col md-4 contact-box">
                <h3 class="main-text">Informações</h3>
                <a (click)="navigateTo('/dashboard')" class="contact-text text-decoration-none"
                    style="cursor: pointer;">DashBoard</a><br>
                <a (click)="navigateTo('/dashboard')" class="contact-text text-decoration-none"
                    style="cursor: pointer;">Termos e condições</a>
                <br>
                @if(loged){
                <a class="contact-text text-decoration-none" (click)="logOut()">Logout</a>
                }

            </div>
        </div>
        <span class="copy-class d-flex">Aumigos&copy; Todos os direitos reservados</span>
    </div>
</footer>