<div class="modal-body">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-close" aria-label="close" (click)="closeModal()"></button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSub()">
        <h3 class="py-sm-4 text-center title">Redefinir senha</h3>
        @if(alertmsg){
        <h5 class="text-center" [class.text-success]="alertmsg.isSuccess" [class.text-danger]="!alertmsg.isSuccess">{{
            alertmsg.message }}</h5>
        }
        <div class="row">
            <div class=" col-md-12">
                <div class="py-sm-1">
                    <app-input-field formControlName="password" placeHolder="Digite senha atual" id="password"
                        type="password" label="Senha" [control]="form.get('password')"></app-input-field>
                </div>
                <div class="pass-tip mt-2">
                    <div class="text-center">A senha deve conter</div>
                    • Mínimo 8 caracteres <br>
                    • Pelo menos 1 letra maiúscula <br>
                    • Pelo menos 1 letra minúscula <br>
                    • Pelo menos 1 número <br>
                    • Pelo menos 1 caractere especial (_!&#64;#$%)
                </div>
                <div class="py-sm-1">
                    <app-input-field formControlName="newPassword" placeHolder="Digite a nova senha" id="newPassword"
                        type="password" label="Nova senha" [control]="form.get('newPassword')"></app-input-field>
                </div>
                <div class="py-sm-1">
                    <app-input-field formControlName="confirmNewPassword" placeHolder="Confirme a senha"
                        id="conformPassword" type="password" label="Confirmar senha"
                        [control]="form.get('confirmNewPassword')"></app-input-field>
                </div>
            </div>
            <div class="d-grid py-sm-4 col-md-12">
                <button type="submit" class="btn btn-primary">
                    @if(sending){
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    Redefinir
                </button>
            </div>
        </div>
    </form>
</div>