.modal-body {
    padding: 20px 30px;
}
.title {
    color: #890a78;
}

.pass-tip {
    border: solid 0.1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #f3f3f3;
    padding: 10px;
}
