.form-control{
    box-shadow: inset  0px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 3rem;
}

input:focus {
    border: 2px solid;
    border-color: #890A78;
}

.form-text {
    font-weight: 580;
    font-size: 12pt;
    color: #333333;
    padding: 0.4rem 0.4rem;
}