/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Ultra");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fbf9f7;
    font-family: "Roboto", sans-serif;
    max-width: 100%;
}

.container-fluid{
  /* max-width: 1200px; */
  width: 100%;
  margin: auto auto;
}

@media (min-width: 576px) { .container { max-width: 540px; } }
@media (min-width: 768px) { .container { max-width: 720px; } }
@media (min-width: 992px) { .container { max-width: 960px; } }
@media (min-width: 1200px) { .container { max-width: 1140px; } }
@media (min-width: 1400px) { .container { max-width: 1320px; } }

.btn-primary {
    background-color: #890a78;
    border-color: #890a78;
}
.btn-primary:hover {
    background-color: #720c68;
    border-color: #720c68;
}
.btn-primary:active {
    background-color: #720c68 !important;
    border-color: #720c68 !important  ;
}

/* .active span{
    font-weight: bolder;
    background: #A02E95;
    border-radius: 10px;
} */