<div class="resetpassword-form">
    <form [formGroup]="form"  (ngSubmit)="onSub()">
        <h3 class="py-sm-4 text-center login-title">Redefinir senha</h3>
        <div class="text-center text-danger">
            {{ erromsg }}
        </div>
        <div class="text-center text-success">
            {{ successmsg }}
        </div>
        <div class="row">
            <div class=" col-md-12">
                <div class="py-sm-1">
                    <app-input-field formControlName="password" placeHolder="Digite a nova senha" id="password" type="password" label="Senha" [control]="form.get('password')"></app-input-field>
                </div>
                <div class="py-sm-1">
                    <app-input-field formControlName="confirmpassword" placeHolder="Confirme a senha" id="conformPassword" type="password" label="Confirmar senha" [control]="form.get('confirmpassword')"></app-input-field>
                </div>
            </div>
            <div class="d-grid py-sm-4 col-md-12">
                <button type="submit" class="btn btn-primary">Redefinir</button>
            </div>    
        </div>
    </form>
</div>