.pet-form {
    display: grid;
    padding: 10px 50px;
    width: 100%;
    max-width: 28rem;
    margin: 30px 100px;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.pet-title {
    color: #890a78;
}
.forgot-pass span {
    color: #a2128f;
}

.form-select {
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    height: 3rem;
}

option {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

select:focus {
    border: 1px solid;
    border-color: #890a78;
}

.form-text {
    font-weight: 580;
    font-size: 12pt;
    color: #333333;
    padding: 0.4rem 0.4rem;
}

.radio-group {
    display: flex;
    flex-wrap: wrap; /* se quiser que quebre linha em telas pequenas */
}

.custom-radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.custom-radio input {
    display: none; /* esconder o input padrão */
}

.custom-radio .checkmark {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 10px;
    position: relative;
}

.custom-radio input:checked + .checkmark::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
}
