.dashboard{
    height: 100%;
    position: relative;
}
.head-bar{
    background-color: #720C68;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px 1px;
}

th, td {
    border: none;
    padding: 10px;
    text-align: center;
}
td{
    background-color: #EFEFEF;
    box-shadow: 0px 1px 0px black;
}
td:first-child{
    width: 30px;
    background-color: #fbf9f7;
    font-weight: bold;
    text-align: left;
    box-shadow: none;
}
td:nth-child(2){
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
td:last-child{
    background-color: #EFEFEF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar-btn{
    cursor: pointer;
}

.side-menu{
    width: 0;
    height: auto;
    min-height: 100%;
    background-color: #881C76;
    padding: 20px 0 40px;
    position: absolute;
    overflow: hidden;
    transition: .5s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.side-menu.expanded{
    width: 300px;
}

.close-tag{
    display: flex;
    padding-bottom: 20px;
    padding-right: 40px;
    justify-content: end;
    cursor: pointer;
}

.close-tag:hover i{
    background: #720C68;
    border-radius: 5px;
}

.close-tag i{
    padding: 5px 5px;
}

.btn-selector{
    display: flex;
    padding: 20px;
}

.item-menu:hover{
    transition: .1s;
    background: #720C68;
    border-radius: 15px;
}

.active{
    background: #720C68;
    border-radius: 15px;
}

.item-menu span{
    color: white;
    font-size: 20px;
    padding: 20px 4%;
    margin-left: 15px;
}

ul{
    height: 100%;
    list-style-type: none;
    padding: 0px 30px;
    margin: 0;
}
